#container {
  display: flex;
}

#board {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  flex-wrap: wrap;
  width: 900px;
}

.square {
  display: flex;
  box-sizing: border-box;
  border: 1px solid grey;
  width: 300px;
  height: 300px;
  align-items: center;
  justify-content: center;
  margin: auto;
  font-size: xx-large;
  cursor: pointer;
}