#container {
  display: flex;
  flex-direction: column;
}

#board {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  flex-wrap: wrap;
  width: 810px;
}

.square {
  display: flex;
  box-sizing: border-box;
  border: 1px solid grey;
  width: 270px;
  height: 270px;
  align-items: center;
  justify-content: center;
  margin: auto;
  font-size: xx-large;
  cursor: pointer;
}

.clicked {
  cursor: not-allowed;
}

.players {
  padding: 1em;
  font-size: xx-large;
}

.player-row {
  display: flex;
  flex-direction: row;
}

.player-marker {
  padding: 0em;
  width: 1em;
}